<div class="contact-page">
  <!-- Title -->
  <h1 class="title">Get In Touch</h1>

  <!-- Main Content -->
  <div class="main-content">
    <!-- Main Thumbnail with Tilt Directive & Image -->
    <div appTilt [appTiltMax]="5" [appTiltMaxGlare]="0.5" class="main-thumbnail">
      <img
        src="/images/contact-page/main.webp"
        alt="Contact Thumbnail"
        class="thumbnail-img pointer-events-none"
      />
    </div>

    <!-- Content Info -->
    <div class="content-info">
      <!-- Address -->
      <div>
        <a
          href="https://www.google.com/maps/place/Flags+of+ASEAN+Nations/10.7721534,106.7055294,18z"
          target="_blank"
          rel="noopener noreferrer"
          class="address-link"
        >
          01 Unknown, Phu Nhuan District<br />
          Ho Chi Minh City, Viet Nam
        </a>
      </div>

      <!-- Contact Info (Email & Phone) -->
      <div class="contact-details">
        <div class="contact-item">
          I'd love to hear from you — <br />
          <a href="mailto:datdoanofficial@gmail.com" class="highlight-link">
            datdoanofficial@gmail.com
          </a>
        </div>

        <div class="contact-item">
          Or give me a call<br />
          <a href="tel:(+84)916709786" class="highlight-link"> (+84) 916 709 786 </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Information Section -->
  <div class="info-section">
    <!-- Company Info Wrapper -->
    <div class="company-wrapper">
      <div class="company-info">
        <div class="subtitle-col">
          <p>Company Name:</p>
          <p>Reg Nr:</p>
          <p>VAT Nr:</p>
          <p>IBAN Nr:</p>
        </div>
        <div class="content-col">
          <p>Next In</p>
          <p>19888668</p>
          <p>EE108687329</p>
          <p>EE27220022108668</p>
        </div>
      </div>
    </div>

    <!-- Social Links Wrapper -->
    <div class="social-links">
      <a href="/">Facebook</a>
      <a href="/">Instagram</a>
      <a href="/">LinkedIn</a>
    </div>
  </div>

  <!-- Map Section -->
  <div class="map-section">
    <img src="/images/contact-page/map.webp" alt="Map Location" class="map-img" />
    <p class="map-text">
      Find us at
      <a
        href="https://www.google.com/maps/place/Flags+of+ASEAN+Nations/10.7721534,106.7055294,18z"
        target="_blank"
        rel="noopener noreferrer"
        class="map-link"
      >
        Google Map
      </a>
    </p>
  </div>
</div>
